<div id="outer">
    <div id="outer-content">
        <div id="footer">
            <div id="footer-top">
                <div id="footer-content">
                    &copy; Copyright {{app.name}}, powered by WedCMS
                    <br>
                    Based on Habbsite CMS template by MoussPSP Corporation in 2007
                </div>
            </div>
            <div id="footer-bottom">
                <div id="footer-bottom-content"></div>
            </div>
        </div>
    </div>
</div>