<div id="enter-hotel">
    <!--Hotel fermé : <img src="/images/custom/enterHH/closed.gif" alt="Entrer dans l'hôtel"/>!-->
    <a href="javascript:enterHotel()"></a>
</div>
<!-- function roomForward(link, roomId, roomType, loggedIn) { !-->