<td rowspan="2" style="margin-left: 4px; width: 176px;" valign="top">
    <div id="sidebar_perso">
        <div class="persoscale perso160">
            <table>
                <tbody>
                <tr>
                    <td class="perso-header-tl"></td>
                    <td class="perso-header-t"></td>
                    <td class="perso-header-tr"></td>
                </tr>
                <tr>
                    <td class="perso-header-ml"></td>
                    <td class="perso-header-m">
                        <h5>{{text.global.ad}}</h5>
                    </td>
                    <td class="perso-header-mr"></td>
                </tr>
                <tr>
                    <td class="perso-content-ml"></td>
                    <td class="perso-content-m" align="center" valign="top"><a
                            href="http://google.fr/" target="_blank"><img
                            src="/images/a_img/02.png" width="160" height="600"></a>
                    <td class="perso-content-mr"></td>
                </tr>
                <tr>
                    <td class="perso-content-bl"></td>
                    <td class="perso-content-b"></td>
                    <td class="perso-content-br"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</td>