<html xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <title>{{app.title}} ~ {{text.client.title}}</title>
    <link href='/styles/style.css' type='text/css' rel='stylesheet' />
    <style type='text/css'>
      #television {
        width: 780px;
        height: 617px;
        background: url('/images/popup/tv.png');
        margin: 10px auto;
        padding: 27px 0 0 0;
      }
      #client-hotel {
        width: 720px;
        height: 537px;
        overflow: hidden;
        margin: 0 auto;
      }
    </style>
  </head>
  <body id='client'>
    {{{body}}}
    <script type='text/javascript' src='/js/custom.js'></script>
  </body>
</html>