<td id='topbar-count' class='counter-reload'><span>0</span>
  <span
    id='habbo-logged-span'
    style='display:none;'
  >{{text.global.logged.habbo}}</span><span
    id='habbos-logged-span'
  >{{text.global.logged.habbos}}</span></td>